[tool.poetry]
name = "evaluating-trajectories"
version = "0.1.0"
description = "Code for the evaluating trajectories paper"
authors = ["Tobias Kietreiber <tobias.kietreiber@fhstp.ac.at>", "Alessio Molinari <alessio.molinari@strg.at>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
duckdb = "^1.0.0"
numpy = "^2.0.1"
numba = "^0.60.0"
llama-cpp-python = "^0.2.85"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
black = "^24.4.2"
mypy = "^1.10.0"
pre-commit = "^3.7.1"
requests = "^2.32.3"
duckdb = "^1.0.0"

[tool.poetry.group.lsp-dev]
optional = true

[tool.poetry.group.lsp-dev.dependencies]
ruff-lsp = "^0.0.53"
pylsp-mypy = "^0.6.8"
python-lsp-server = "^1.11.0"
python-lsp-black = "^2.0.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
