[tool.poetry]
name = "evaluating-trajectories"
version = "0.1.0"
description = "Code for the evaluating trajectories paper"
authors = ["Tobias Kietreiber <tobias.kietreiber@fhstp.ac.at>", "Alessio Molinari <alessio.molinari@strg.at>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
duckdb = "^1.1.0"
numpy = "^2.0.1"
numba = "^0.60.0"
gymnasium = "^0.29.1"
igraph = "^0.11.6"
tqdm = "^4.66.5"
umap-learn = "^0.5.6"
pandas = "^2.2.2"
plotly = "^5.23.0"
cffi = "^1.17.0"
setuptools = "^72.2.0"
tinygrad = {git = "https://github.com/tinygrad/tinygrad.git"}
stable-baselines3 = "^2.3.2"
torch = "^2.4.0"
tensorboard = "^2.17.1"
rich = "^13.8.0"
pot = "^0.9.4"
sb3-contrib = "^2.3.0"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
black = "^24.4.2"
mypy = "^1.10.0"
pre-commit = "^3.7.1"
requests = "^2.32.3"
duckdb = "^1.1.0"
torch = {version = "^2.3.1+cpu", source = "pytorch-cpu-src"}

# Currently, poetry does not support this. If you're running on a GPU, you can still install the environment
# by uncommenting this line, and commenting torch above
# [tool.poetry.group.release]
# optional = true

# [tool.poetry.group.release.dependencies]
# torch = {version = "^2.3.1+cu121", source = "pytorch-gpu-src"}

[tool.poetry.group.textgen]
optional = true

[tool.poetry.group.textgen.dependencies]
llama-cpp-python = "^0.3.7"


[tool.poetry.group.lsp-dev]
optional = true

[tool.poetry.group.lsp-dev.dependencies]
ruff-lsp = "^0.0.53"
pylsp-mypy = "^0.6.8"
python-lsp-server = "^1.11.0"
python-lsp-black = "^2.0.0"

# This can be added with
# poetry source add --priority=explicit pytorch-cpu-src https://download.pytorch.org/whl/cpu
[[tool.poetry.source]]
name = "pytorch-cpu-src"
url = "https://download.pytorch.org/whl/cpu"
priority = "explicit"


[[tool.poetry.source]]
name = "pytorch-gpu-src"
url = "https://download.pytorch.org/whl/cu121"
priority = "explicit"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
